body{
    background-image:url("./medien/hintergrundbild.jpg");
    background-size:auto;
}

.ihave{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
#valuesBox{
    display:flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    
}
#werts{
    width: 20%;
}



/* footer */
footer {
    background-color: lightslategray;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.logo-github {
    width: 4vh;
    margin: 2vh;
}
.logo-api {
    width: 10vh;
    margin: 2vh;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright h6 {
    margin: 2vh;
}
